<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Dashboard
    </title>
</head>
<body>
    <p>
        This is going to be a nice fancy dashboard, but for now we are just going to output profile info for the user that logs in
    </p>
    <form>
        First name:<br>
        <input type="text" name="first_name_output"><br>
        Last name:<br>
        <input type="text" name="last_name_output"><br>
        Email:<br>
        <input type="text" name="email_output"><br>
        Major:<br>
        <input type="text" name="major_output"><br>
        Year:<br>
        <input type="text" name="year_output"><br>
        Other Field...:<br>
        <input type="text" name="misc_field"><br>
    </form>
</body>
</html>