<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Scholar Station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="cont">
    <div class="demo">
        <div class="login">
            <div class="login__check"></div>
            <div class="login__form">
                <div class="login__row">
                    <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input type="text" class="login__input name" placeholder="Username"/>
                </div>
                <div class="login__row">
                    <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input type="password" class="login__input pass" placeholder="Password"/>
                </div>
                <button type="button" onclick="validateLogin()" class="login__submit" >Sign in</button>
                <script>
                    function validateLogin(){
                        console.log("got into validate login...");
                        var xhttp = new XMLHttpRequest();
                        var json_upload;
                        xhttp.onreadystatechange = function() { // for the response from server
                            if (xhttp.readyState == 4 && xhttp.status == 200) {
                                // in here check if the loginUtility returned true
                                //document.getElementById("demo").innerHTML = xhttp.responseText;
                                window.location ="http://70.187.52.39:3000/dashBoard"; // redirect to the dashboard
                            }
                        };
                        jsnon_upload = JSON.stringify({username:"qwex", password:"pass1234"});
                        xhttp.open("POST", "localhost:3000/LoginApp" , true);
                        //xhttp.open("POST", "http://70.187.52.39:3000/LoginApp" , true);
                        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhttp.send(json_upload);
                    }
                </script>
                <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
                </div>
        </div>
    </div>
</div>



<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/javascripts/index.js"></script>
</body>
</html>
